<div class="summary-wrapper">

    <header class="summary-header">
        <h1 class="summary-title">Join 360</h1>
        <div class="vertical-divider"></div>
        <span class="summary-subtitle">Key Metrics at a Glance</span>
    </header>
    <div class="summary-layout">
        <section class="summary-infos">
            <div class="info-row">
                <div class="info-box todo" [routerLink]="['/board']">
                    <div class="box-left">
                        <img class="icon default" src="assets/img/summary/todo-default.svg" alt="to-do">
                        <img class="icon hover" src="assets/img/summary/todo-hover.svg" alt="" aria-hidden="true">
                    </div>
                    <div class="box-right">
                        <span class="count">{{ todoCount }}</span>
                        <span class="label">To-do</span>
                    </div>
                </div>
                <div class="info-box done" [routerLink]="['/board']">
                    <div class="box-left">
                        <img class="icon default" src="assets/img/summary/done-default.svg" alt="done">
                        <img class="icon hover" src="assets/img/summary/done-hover.svg" alt="" aria-hidden="true">
                    </div>
                    <div class="box-right">
                        <span class="count">{{ doneCount }}</span>
                        <span class="label">Done</span>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="info-box deadline" [routerLink]="['/board']">
                    <div class="deadline-left">
                        <div class="box-left">
                            <img class="icon default" src="assets/img/summary/urgent-deadline.svg" alt="urgent">
                        </div>
                        <div class="box-right">
                            <span class="count">{{ urgentCount }}</span>
                            <span class="label">Urgent</span>
                        </div>
                    </div>
                    <div class="deadline-divider"></div>
                    <div class="deadline-right">
                        <span class="deadline-date">{{ getFormattedDate(upcomingDeadline) }}</span>
                        <span class="deadline-desc">Upcoming Deadline</span>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="info-box board" [routerLink]="['/board']">
                    <span class="count">{{ totalTasks }}</span>
                    <span class="label">Tasks in<br>Board</span>
                </div>
                <div class="info-box progress" [routerLink]="['/board']">
                    <span class="count">{{ inProgressCount }}</span>
                    <span class="label">Tasks in<br>Progress</span>
                </div>
                <div class="info-box feedback" [routerLink]="['/board']">
                    <span class="count">{{ awaitingFeedbackCount }}</span>
                    <span class="label">Awaiting<br>Feedback</span>
                </div>
            </div>
        </section>
        <div class="greeting-box">
            <h2 class="greeting-text">
                {{ greeting }},
                <span class="username">{{ userName }}</span>
            </h2>
        </div>
    </div>
</div>