<img src="assets/img/sign-in/logo.svg" class="logo-fixed" />

<div class="signup-content">

  <section class="signup-box">
    <div class="box-header">
      <button class="back-btn" routerLink="/sign-in">
        <img src="assets/img/sign-up/back-arrow.svg" alt="back" />
      </button>

      <h1 class="signup-title">Sign up</h1>
    </div>
    <div class="title-underline"></div>

    <form class="signup-form" (ngSubmit)="register()" #formRef="ngForm">

      <div class="input-container">
        <div class="input-wrapper">
          <input type="text" name="name" placeholder="Name" [(ngModel)]="name" required minlength="2"
            #nameRef="ngModel" />
          <img src="assets/img/sign-up/username.svg" class="input-icon" alt="" />
        </div>
        @if (nameRef.invalid && nameRef.touched) {
        <p class="error-text">Valid name is required.</p>
        }
      </div>

      <div class="input-container">
        <div class="input-wrapper">
          <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required #emailRef="ngModel" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
          <img src="assets/img/sign-in/mail.svg" class="input-icon" alt="" />
        </div>
        @if (emailRef.invalid && emailRef.touched) {
        <p class="error-text">Valid Email is required.</p>
        }
      </div>

      <div class="input-container">
        <div class="input-wrapper">
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required
            #passRef="ngModel" />
          <img src="assets/img/sign-in/pass.svg" class="input-icon" alt="" />
        </div>
        @if (passRef.invalid && passRef.touched) {
        <p class="error-text">Password is required.</p>
        } @else if (errorMessage) {
          <p class="error-text">{{ errorMessage }}</p>
          }
      </div>

      <div class="input-container">
        <div class="input-wrapper">
          <input type="password" name="repeatPassword" placeholder="Confirm Password" [(ngModel)]="repeatPassword"
            required #repeatPassRef="ngModel" />
          <img src="assets/img/sign-in/pass.svg" class="input-icon" alt="" />
        </div>
        @if (repeatPassRef.touched && repeatPassword !== password) {
        <p class="error-text">Passwords do not match.</p>
        }
      </div>

      <label class="terms-line">
        <input type="checkbox" [(ngModel)]="acceptedTerms" name="acceptedTerms" required />
        I accept the <a routerLink="/privacy-policy">Privacy policy</a>
      </label>

      <button type="submit" class="primary-btn single"
        [disabled]="formRef.invalid || repeatPassword !== password || !acceptedTerms">
        Sign up
      </button>
    </form>
  </section>

  <div class="legal-links">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal notice</a>
  </div>

</div>