<h2>Sign Up</h2>

<form (ngSubmit)="register()" #formRef="ngForm">
  <input
    type="text"
    name="name"
    placeholder="Name"
    [(ngModel)]="name"
    required
    #nameRef="ngModel"
    minlength="2"
  />
  @if (nameRef.invalid && nameRef.touched) {
    <div>
      <span style="color: red;"> Valid Name is required</span>  
    </div>
  }
  <input
    type="email"
    name="email"
    placeholder="Email"
    [(ngModel)]="email"
    required
    #emailRef="ngModel"
  />
  @if (emailRef.invalid && emailRef.touched) {
    <div>
      <span style="color: red;"> Email is required.</span>  
    </div>
  }

  <input
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="password"
    required
    #passRef="ngModel"
  />
  @if (passRef.invalid && passRef.touched){
    <div>
      <span style="color: red;"> Password is required.</span>  
    </div>
  }
  <input
    type="password"
    name="repeatPassword"
    placeholder="Repeat Password"
    [(ngModel)]="repeatPassword"
    required
    #repeatPassRef="ngModel"
  />
  @if (repeatPassRef.touched && repeatPassword !== password) {
    <div>
      <span style="color: red;">  Passwords do not match.</span>  
    </div>
  }
  @if (errorMessage) {
    <div style="color: red; margin-top: 10px;">{{ errorMessage }}</div>
  }
  <button type="submit" [disabled]="formRef.invalid">Create Account</button>
</form>


