@import './board.responsive.scss';

// copy paste angular material drag and drop example styles here
.example-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    height: calc(100vh - 300px);
}

.example-list {
    position: relative;
    border: solid 1px #000000;
    height: 680px;
    min-height: 48px;
    background: transparent;
    border: none;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-right: 10px;
    scrollbar-gutter: stable both-edges;
}

.example-box {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px 12px 12px;
    margin-bottom: 12px;
    background: white;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: move;

    .task-category {
        padding: 0 10px;
        font: 400 16px "Inter", sans-serif;
        margin-bottom: 4px;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 24px;
        text-transform: none;
        border-radius: 8px;
    }

    .task-category.user-story {
        background: #0038FF;
    }

    .task-category.technical-task {
        background: #1FD7C1;
    }

    .task-title {
        margin: 16px 0 8px 0;
        font: 700 16px "Inter", sans-serif;
        color: var(--darkblue);
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 3; // show max 3 lines rest is then hidden.
        -webkit-line-clamp: 3; // show max 3 lines
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .task-description {
        margin: 0 0 18px 0;
        font: 400 16px "Inter", sans-serif;
        color: #A8A8A8;
        line-height: 1.4;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .subtasks-line {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        gap: 8px;

        .subtasks-bar {
            width: 60%;
            height: 8px;
            background: #F4F4F4;
            margin-right: 8px;
            border-radius: 16px;

            .subtasks-progress {
                height: 100%;
                background: #4589FF;
                border-radius: 16px;
                transition: 0.4s linear;  
                transition-property: width, background-color;
            }
        }

        .subtasks-count {
            font: 400 12px "Inter", sans-serif;
            color: black;
        }
    }

    .task-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        .assignees {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex: 0 1 130px;
            gap: 2px;

            .avatar {
                width: 26px;
                height: 26px;
                background: #eee;
                border: 1px solid white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font: 400 10px "Inter", sans-serif;
                color: #fff;

                &:not(:first-child) {
                    margin-left: -6px;
                }
            }
        }

        .priority-badge {
            padding: 2px 8px;
            width: 24px;
            height: 24px;
            text-indent: 42349px;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;

            &.low {
                background-image: url('/assets/img/board/low.svg');
            }

            &.medium {
                background-image: url('/assets/img/board/medium.svg');
            }

            &.urgent {
                background-image: url('/assets/img/board/urgent.svg');
            }
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-box.cdk-drag-dragging,
body.cdk-dragging {
    cursor: move !important;
}

.example-list .cdk-drag-preview {
    opacity: 0.9;
}


// This hides the effect of the placeholder being dragged around
// .cdk-drag-placeholder {
//     opacity: 0;
// }

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    transition: none !important;
}

.example-list .cdk-drag-placeholder {
    height: auto;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px dashed var(--light-blue);
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
}

.example-list .cdk-drag-placeholder:last-child {
    margin-bottom: 0;
}

// end of angular material drag and drop example styles

// testing:

$sidebar: clamp(180px, 16.1vw, 232px);

$header: 96px;

.board-container {
    width: calc(100vw - clamp(180px, 16.1vw, 232px));
    height: calc(100vh - 96px);

    background-color: var(--secondary-bg);
}

// above 


.board-header-wrapper {
    background-color: var(--secondary-bg);
    width: 1056px;
    height: 73px;
    margin: 0 auto;
    padding: 80px 0 68px 0;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}

.header-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 61px;
    color: black;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 32px;

    .search-bar {
        position: relative;
        width: 312px;
        height: 48px;
        border: 1px solid #A8A8A8;
        border-radius: 10px;
        background: white;
        padding: 0;

        .search-input-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 8px 16px;
        }

        input {
            flex: 1;
            border: none;
            outline: none;
            font: 400 20px "Inter", sans-serif;
            padding-right: 52px;
            width: 100%;
            box-sizing: border-box;

            &::placeholder {
                color: #D1D1D1;
            }
        }

        .divider {
            position: absolute;
            right: 56px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 24px;
            background-color: #A8A8A8;
            pointer-events: none;
        }

        .search-icon {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            padding: 0;
            cursor: text;

            img {
                display: block;
                width: 32px;
                height: 32px;
            }
        }
    }

}

.add-task-btn {
    width: 160px;
    height: 48px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--darkblue);
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .add-task-text-mobile {
        display: none;
    }

    .plus-icon {
        font-size: 20px;
        line-height: 1;
    }

    &:hover {
        background-color: var(--light-blue);
        border-color: var(--light-blue);
    }
}

.column-header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 8px;
    min-height: 32px;

    h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        color: #42526E;
        line-height: 1;
    }
}

.add-column-btn {
    background: transparent;
    border: none;
    padding: 6px;
    transition: filter 200ms ease-in-out;
    width: 24px;
    height: 24px;
    visibility: visible; // Ensure it takes space even when hidden to adjust the done button position

    img {
        width: 24px;
        height: 24px;
        display: block;

        &:hover {
            filter:
                brightness(0) saturate(100%) invert(67%) sepia(75%) saturate(533%) hue-rotate(169deg) brightness(95%) contrast(90%);
        }
    }
}

.content-container {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 30px;
    height: calc(100vh - 300px);
    overflow: hidden;
    justify-content: center;

}

.empty-placeholder {
    width: 100%;
    height: 48px;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    background: #E7E7E7;
    color: #A8A8A8;
    font: 400 16px "Inter", sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;

    &::before {
        content: attr(data-msg);
    }
}