<div class="board-container">
    <div class="board-header-wrapper">
        <div class="board-header">

            <div class="header-title">
                Board
            </div>

            <div class="header-controls">
                <div class="search-bar">
                    <div class="search-input-wrapper">
                        <input id="searchInput" type="text" [(ngModel)]="searchTerm" (keyup)="this.updateColumnsFromFirebase()" placeholder="Suchen..." />
                        <span class="divider"></span>
                    </div>
                    <button class="search-icon">
                        <img src="/assets/img/board/search.svg" alt="Search" />
                    </button>
                </div>
                <button class="add-task-btn">
                    <span class="add-task-text">Add task +</span>
                    <span class="add-task-text-mobile">&#65291;</span>
                </button>
            </div>
        </div>
    </div>
      
    <div cdkDropListGroup class="content-container">
        @for (column of columns; track column.title) {
        <div class="example-container">
            <div class="column-header">
                <h2>{{ column.title }}</h2>
                @if (column.title !== 'Done') {
                <button class="add-column-btn">
                    <img src="/assets/img/board/add.svg" alt="Add Task" />
                </button>
                }
            </div>
            <div class="example-list" cdkDropList 
                [id]="normalizeId(column.title)"
                [cdkDropListData]="column.tasks"
                [cdkDropListConnectedTo]="getConnectedColumns()" 
                (cdkDropListDropped)="drop($event, column.title)">
                @if (column.tasks.length === 0) {
                <div class="empty-placeholder" [attr.data-msg]="emptyLabel(column.title)">
                </div>
                }
                
                @for (task of column.tasks; track task.id) {
                <div class="example-box" cdkDrag (cdkDragStarted)="dragging = true" (cdkDragEnded)="dragging = false"
                    (click)="openDialog(task)">
                    <div class="task-category" [ngClass]="{
                        'user-story':      task.category.toLowerCase() === 'user story',
                        'technical-task':  task.category.toLowerCase() === 'technical task'
                      }">{{ task.category }}</div>
                    <h3 class="task-title">{{ task.title }}</h3>
                    <p class="task-description">{{ task.description }}</p>

                    @if (task.subtasks.length > 0) {
                    <div class="subtasks-line">
                        <div class="subtasks-bar">
                            <div class="subtasks-progress"
                                [style.width.%]="(getCompletedSubtasksCount(task)/task.subtasks.length)*100">
                            </div>
                        </div>
                        <span class="subtasks-count">
                            {{ getCompletedSubtasksCount(task) }}/{{ task.subtasks.length }} Subtasks
                        </span>
                    </div>
                    }

                    <div class="task-footer">
                        <div class="assignees">
                            @for (assigneeId of task.assignees; track assigneeId) {
                            <span class="avatar" [style.backgroundColor]="getAvatarColor(assigneeId)">
                                {{ getContactInitials(assigneeId) }}
                            </span>
                            }
                        </div>

                        <span class="priority-badge {{task.priority}}">{{ task.priority }}</span>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>


@if (dialogOpen && selectedTask) {
    <app-board-dialog 
    [task]="selectedTask" 
    [assignees]="selectedAssignees" 
    [contacts]="contacts"
    (close)="closeDialog()"
    (taskUpdated)="handleTaskUpdate($event)"
    >
    </app-board-dialog>
}