

<div class="task-dialog">
  <h2>Category: {{task.category}}</h2>
  <p><strong>Task title:</strong> {{ task.title }}</p>
  <p><strong>Description:</strong>: {{ task.description }}</p>
  <p><strong>Due Date:</strong>: {{ task.duedate }}</p>
  <p><strong>Priority:</strong>: {{ task.priority }}</p>

  <p><strong>Assigned To:</strong></p>
  <ul>
    @for (assignee of assignees; track assignee.id) {
      <li>
        <span class="assigne-list" [style.backgroundColor]="assignee.color">
          {{ assignee.initials }}
        </span>

        {{ assignee.name }}
      </li>
    }
  </ul>


  <button (click)="onClose()">Close</button>
</div>

