@import './edit-styles.scss';

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0 0 0 / 0.35);
    z-index: 5000;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 530px;
    height: 80vh;
    max-height: 860px;
    background: white;
    border-radius: 24px;
    padding: 32px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 8px 24px rgba(0 0 0 / .25);
    overflow: auto;
    z-index: 5001;
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 0.4s ease-out forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-body {
    overflow-y: auto;
    padding-right: 16px;
    margin-right: -16px;
}

.close-btn {
    color: var(--darkblue);
    font: 700 30px "Inter", sans-serif;
    transition: background-color .15s ease;
    border: none;
    background: transparent;

    &:hover {
        color: var(--light-blue);
    }
}

.task-category {
    min-height: 24px;
    padding: 2px 12px;
    font: 400 16px "Inter", sans-serif;
    color: white;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.user-story {
        background: #0038ff;
    }

    &.technical-task {
        background: #1fd7c1;
    }
}

.task-title {
    max-width: 450px;
    width: 100%;
    font-size: clamp(18px, 4vw, 48px);
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 1.1;
    padding-bottom: 16px;
    word-break: break-word;
    hyphens: auto;
}

.task-description {
    width: 100%;
    max-width: 450px;
    font: 400 20px/1 "Inter";
    word-break: break-word;
    hyphens: auto;
    padding-bottom: 20px;
}

.date-prio-section {
    display: flex;
    gap: 25px;
    font: 400 20px "Inter";
    align-items: center;
    padding-bottom: 20px;
}

.section-label {
    color: #2a3647;
}

.priority-display {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.task-value {
    line-height: 1;
    text-transform: capitalize;
}

.priority-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;

    &.low {
        background-image: url('../../../../assets/img/board/low.svg');
    }

    &.medium {
        background-image: url('../../../../assets/img/board/medium.svg');
    }

    &.urgent {
        background-image: url('../../../../assets/img/board/urgent.svg');
    }
}

.assignees-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 20px;
}

.assignees-list {
    max-height: 170px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.assignee {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid white;
    font: 400 12px "Inter";
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1;
    cursor: default;
}

.subtasks-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
}

.subtasks-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.subtask:hover {
    background: #d1d1d1;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    position: relative;
    margin: 0;

    &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../../../../assets/img/board/unchecked.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:checked::before {
        background-image: url('../../../../assets/img/board/checked.svg');
        filter: brightness(0) saturate(100%) invert(15%) sepia(23%) saturate(2000%) hue-rotate(200deg) brightness(90%) contrast(90%);
    }
}

.subtask span {
    font: 400 16px "Inter";
    word-break: break-word;
    hyphens: auto;
}

.dialog-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 38px;
    bottom: 26px;
}

.action {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: none;
    font: 400 16px "Inter";
    color: #2a3647;

    &:hover {
        color: var(--light-blue);

        img {
            filter: brightness(0) saturate(100%) invert(39%) sepia(57%) saturate(1558%) hue-rotate(176deg) brightness(89%) contrast(87%);
        }
    }
}

.vert-divider {
    width: 1px;
    height: 18px;
    background: #a8a8a8;
}

@media (max-width: 590px) {
    .dialog {
        width: 440px
    }
}

@media (max-width: 460px) {
    .dialog {
        width: 314px
    }

    .priority-buttons {
        flex-direction: column;
    }

    .form-actions {
        bottom: 16px;
        right: 10px;
    }
}