$primary-bg:                 rgb(246, 247, 248);
$primary-font:               rgb(0, 0, 0);
$primary-font-transparent:   rgba(0, 0, 0, 0.1);
$secondary-font:             rgb(255, 255, 255);
$darkblue:                   rgb(42, 54, 71);
$darkblue-transparent:       rgba(42, 54, 71, 1);
$deep-space-blue:            rgba(9, 25, 49, 1);
$darkblue-transparent:       rgba(12, 46, 98, 0.12);
$nav-button:                 rgb(205, 205, 205);
$privacy-legal:              rgb(168, 168, 168);
$email-font:                 rgb(0, 124, 238);
$link-font:                  rgb(41, 171, 226);
$menu-button-hover:          rgba(42, 61, 89, 1);
$requred-field:              rgba(255, 129, 144, 1);
$border-add-task:            rgba(209, 209, 209, 1)

