// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$join_board-primary: mat.define-palette(mat.$indigo-palette);
$join_board-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$join_board-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$join_board-theme: mat.define-light-theme((color: (primary: $join_board-primary,
        accent: $join_board-accent,
        warn: $join_board-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($join_board-theme);

@import "@ng-select/ng-select/themes/default.theme.css";

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f6f7f8;
  --primary-font: black;
  --secondary-font: #ffffff;
  --darkblue: #2a3647;
  --nav-button: #cdcdcd;
  --privacy-legal: #a8a8a8;
  --email-font: #007cee;
  --light-blue: #29abe2;
  --contacts-border: #d1d1d1;
  --contacs-hover: #f0f0f0;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/inter-v18-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

// app-add-task {
//   height: 100%;
//   width: 100%;
// }

// app-home, app-board {
//   width: 100%;
// }

// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }